html {
	background-color: black;
}

div.header h1 {
	font-family: Verdana, sans-serif;
	font-weight: normal;
	color: white;
	font-size: 50px;
	text-align: center;
}

a.download {
	color: Aquamarine;
    font-size: 16px; 
    text-align: center;
}