body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

 h1 {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: white;
	font-size: 50px;
	text-align: center;
	display: block;

}

a.download {
	color: Aquamarine;
    font-size: 16px; 
    
}

.footer {
    text-align: right;
    display: block;
}