body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

 h1 {
	
	font-weight: bold;
	color: white;
	font-size: 50px;
	text-align: center;
	display: block;

}

h2 {
	font-weight: bold;
	font-size: 42 px;
}

video {
    object-fit: contain;
}

a.download {
	color: Aquamarine;
    font-size: 16px;    
}

#description {
	font-size: 21px;
	color: gray;
} 

.footer {
    text-align: right;
    display: block;
}

